* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', sans-serif;
    background-image: url('../images/3_BENZ.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
    line-height: 1.6;
}

nav {
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    align-items: center; 
}

nav img {
    height: 80px;
    width: auto;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
    margin-left: 20px;
}

nav a:hover {
    color: #007bff;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    margin: 2rem auto;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form select, form input[type="date"], form input[type="submit"] {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
form input[type="submit"]:hover {
    background-color: #0056b3;
}

.white-banner {
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: auto;
    margin: 0 auto;
    text-align: center;
    color: hsl(211, 100%, 70%);
}

footer {
    background: linear-gradient(to bottom, white 0%, hsl(0, 0%, 0%) 100%);
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    opacity: 0.8;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 10px;
}
 
footer div a {
    margin: 0 10px;
}

footer a img {
    height: 30px;
    width: auto;
} 

html {
    scroll-behavior: smooth;
}