<footer>
    <div>
        <h1>Contact us</h1>
        <p>+355...</p>
        <p>+355...</p>
        <p>address</p>
        <div>
            <a href="https://www.instagram.com/"><img src="./resources/images/instagram_logo.png" alt="Instagram"></a>
            <a href="https://www.facebook.com/"><img src="./resources/images/facebook_logo.png" alt="Facebook"></a>
            <a href="mailto:example@gmail.com"><img src="./resources/images/gmail_logo.png" alt="Gmail"></a>
        </div>
    </div>
        <div>
            <h1>Buisness Hours</h1>
            <p>Monday – Sunday: 9:00 AM – 20:00 PM</p>
            <p>For immediate assistance outside of our business hours, please contact our 24/7 customer support at  +355...</p>
        </div>
    <p>Copyright &copy; 2024, All Rights reserved</p>
</footer>
